* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium";
}
body {
  background: url(../reg.jpg) no-repeat fixed;
  background-size: cover;
}
h1 {
  font-style: italic;
  color: rgb(61, 107, 101);
  background: rgba(190, 184, 184, 0.2);
  font-family: "Franklin Gothic Medium";
}
#c {
  color: rgb(180, 123, 168);
}
