* {
  margin: 0;
  padding: 0;
}
body {
  background: url(../1.jpg) no-repeat center fixed;
  background-size: cover;
}
h1 {
  text-align: center;
  color: rgb(221, 236, 164);
  background: rgba(126, 114, 114, 0.2);
  padding: 15px;
}
.registration {
  margin: auto;
  width: 500px;
  text-align: center;
  color: rgb(7, 7, 7);
  background: rgba(221, 155, 155, 0.2);
  border: 2px solid rgb(202, 135, 135);
  padding: 15px;
}
#name {
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
  outline: 0;
  font-family: Arial;
  font-size: 14px;
  background: none;
}
#check {
  font-family: sans-serif;
  font-size: 14px;
}
#sub {
  width: 150px;
  padding: 5px;
  font-family: Arial;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid rgb(218, 143, 143);
  outline: 0;
  background-color: rgb(218, 116, 116);
  color: white;
}
#name:hover {
  background: rgb(241, 227, 227);
  color: rgb(8, 8, 8);
}
#sub:hover {
  background: white;
  color: rgb(192, 44, 44);
}
::placeholder {
  color: rgb(160, 153, 155);
}
#re:hover {
  background: white;
  color: rgb(8, 8, 8);
}
